
* {
  box-sizing: border-box;
}

:root{
  --bean: #3c1518;
  --red: #69140e;
  --brown: #a44200;
  --bronze: #d58936;
  --vanila: #f2f3ae;
}

nav{
  background-color: var(--brown);
}

html, body {
  height: 100%;
  line-height: 1.5;
}
